<section id="menu">

    <div class="container centrado">
        <h2 class="titulo">Bienvenido a nuestro menú <br> Elija una categoría:</h2>
        <a class="btn btn-primary dropdown-toggle botonsito" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"> Categorías </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#">Jugos</a>
            <a class="dropdown-item" href="#">Malteadas</a>
            <a class="dropdown-item" href="#">Bebidas calientes</a>
            <a class="dropdown-item" href="#">Frappé</a>
            <a class="dropdown-item" href="#">Smoothie</a>
            <a class="dropdown-item" href="#">Tizana</a>
            <a class="dropdown-item" href="#">Shots</a>
            <a class="dropdown-item" href="#">Bebidas</a>
            <a class="dropdown-item" href="#">Postres</a>
            <a class="dropdown-item" href="#">Licuados</a>
            <a class="dropdown-item" href="#">Sandwich</a>
            <a class="dropdown-item" href="#">Wraps</a>
            <a class="dropdown-item" href="#">Ensaladas</a>
            <a class="dropdown-item" href="#">Baguette</a>
            <a class="dropdown-item" href="#">Croissant</a>
            <a class="dropdown-item" href="#">Burritos</a>
            <a class="dropdown-item" href="#">Sopa</a>
            <a class="dropdown-item" href="#">Comida del día</a>
        </div>
    </div>

    <section id="jugos">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 titulo">
                    <h4>Jugos</h4>
                </div>
                <div class="col-sm-4">
                    <ul>
                        <li> <b>Anemia</b> <span class="font-italic">(Betabel, manzana y zanahoria)</span> </li>
                        <li> <b>Antigripal</b> <span class="font-italic">(Fresa, guayaba, miel, naranja, limón y piña)</span> </li>
                        <li> <b>Bahamas</b> <span class="font-italic">(Fresa, guayaba y piña)</span> </li>
                        <li> <b>Brisa</b> <span class="font-italic">(Espinaca, piña y limón)</span> </li>
                        <li> <b>Cancún</b> <span class="font-italic">(Plátano, fresa y papaya)</span> </li>
                        <li> <b>Chivo</b> <span class="font-italic">(Piña, fresa y zanahoria)</span> </li>
                        <li> <b>Clásico</b> <span class="font-italic">(Naranja y zanahoria)</span> </li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <ul>
                        <li> <b>Colesterol</b> <span class="font-italic">(Manzana, piña, avena y naranja)</span> </li>
                        <li> <b>Conga</b> <span class="font-italic">(Fresa, melón, papaya y naranja)</span> </li>
                        <li> <b>Desintoxicante</b> <span class="font-italic">(Apío, manzana, zanahoria y perejil)</span> </li>
                        <li> <b>Gastritis</b> <span class="font-italic">(Manzana, papaya y zanahoria)</span> </li>
                        <li> <b>Hatí</b> <span class="font-italic">(Plátano, piña y guayaba)</span> </li>
                        <li> <b>Revitalizante</b> <span class="font-italic">(Betabel, zanahoria, pepino y espinaca)</span> </li>
                        <li> <b>Slimlax</b> <span class="font-italic">(Nopal, piña, linaza y naranja)</span> </li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <ul>
                        <li> <b>Super Can</b> <span class="font-italic">(Papaya, zanahoria, piña y naranja)</span> </li>
                        <li> <b>Tropicana</b> <span class="font-italic">(Fresa y piña)</span> </li>
                        <li> <b>Tropico</b> <span class="font-italic">(Limón, guayaba y piña)</span> </li>
                        <li> <b>Vampiro</b> <span class="font-italic">(Apio, betabel, naranja y zanahoria)</span> </li>
                        <li> <b>Verde</b> <span class="font-italic">(Apio, nopal, piña, espinaca, perejil y naranja)</span> </li>
                        <li> <b>Vita C</b> <span class="font-italic">(Fresa, limón, piña, miel y naranja)</span> </li>
                        <li> <b>Vit 8</b> <span class="font-italic">(Apio, betabel, limón, espinaca, pepino, perejil, tomate y zanahoria)</span> </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section id="malteadas">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 titulo">
                    <h4>Malteadas</h4>
                </div>
                <div class="col-sm-12">
                    <ul class="titulo">
                        <li><b>Chocolate</b></li>
                        <li><b>Fresa</b></li>
                        <li><b>Oreo</b></li>
                        <li><b>Vainilla</b></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section id="bebidas-calientes">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 titulo">
                    <h4>Bebidas calientes</h4>
                </div>
                <div class="col-sm-12">
                    <ul class="titulo">
                        <li><b>Café</b></li>
                        <li><b>Chocolate caliente</b></li>
                        <li><b>Avena con fruta</b></li>
                        <li><b>Té</b></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section id="frappe">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 titulo">
                    <h4>Frappé</h4>
                </div>
                <div class="col-sm-12">
                    <ul class="titulo">
                        <li><b>Mocha</b></li>
                        <li><b>Caramelo</b></li>
                        <li><b>Oreo</b></li>
                        <li><b>Chái</b></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section id="smoothie">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 titulo">
                    <h4>Smoothie</h4>
                </div>
                <div class="col-sm-12">
                    <ul class="titulo">
                        <li><b>Fresa</b></li>
                        <li><b>Durazno</b></li>
                        <li><b>Mango</b></li>
                        <li><b>Frutos rojos</b></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section id="tizana">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 titulo">
                    <h4>Tizana</h4>
                </div>
                <div class="col-sm-12">
                    <ul class="titulo">
                        <li><b>Guayaba</b></li>
                        <li><b>Manzana con canela</b></li>
                        <li><b>Frutas de la pasión</b></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section id="shots">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 titulo">
                    <h4>Shots</h4>
                </div>
                <div class="col-sm-12">
                    <ul class="titulo">
                        <li> <b>Rojo</b> <span class="font-italic">(Jengibre y betabel)</span> </li>
                        <li> <b>Manzana</b> <span class="font-italic">(Jengibre y manzana)</span> </li>
                        <li> <b>Verduras</b> <span class="font-italic">(Jengibre, apio y tomate)</span> </li>
                        <li> <b>"C"</b> <span class="font-italic">(Jengibre, naranja y limón)</span> </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section id="bebidas">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 titulo">
                    <h4>Bebidas</h4>
                </div>
                <div class="col-sm-12">
                    <ul class="titulo">
                        <li> <b>Agua de sabor</b> <span class="font-italic">(Horchata, jamaica o fruta de temporada)</span> </li>
                        <li> <b>Soda Italiana</b> <span class="font-italic">(Kiwi, fresa o mango)</span> </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section id="postres">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 titulo">
                    <h4>Postres</h4>
                </div>
                <div class="col-sm-12">
                    <ul class="titulo">
                        <li> <b>Pay de queso con frambuesa</b></li>
                        <li> <b>Gelatina de philadelphia con zanahoria</b></li>
                        <li> <b>Arroz con leche</b></li>
                        <li> <b>Nieve de yoghurt de piña-coco</b></li>
                        <li> <b>Pastel de limón</b></li>
                        <li> <b>Pastel de chocolate</b></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section id="licuados">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 titulo">
                    <h4>Licuados</h4>
                </div>
                <div class="col-sm-12">
                    <ul class="titulo">
                        <li> <b>Energy Max</b> <span class="font-italic">(Plátano, vainilla, amaranto, avena y granola)</span> </li>
                        <li> <b>Bella</b> <span class="font-italic">(Plátano, guayaba, melón y yoghurt)</span> </li>
                        <li> <b>Super Power</b> <span class="font-italic">(Plátano, amaranto, granola y almendra)</span> </li>
                        <li> <b>Fresado</b> <span class="font-italic">(Fresa y granola)</span> </li>
                        <li> <b>Fibra</b> <span class="font-italic">(Manzana, plátano, salvado, Raisin-Bran y avena)</span> </li>
                        <li> <b>Hawaiano</b> <span class="font-italic">(Fresa, piña y naranja)</span> </li>
                        <li> <b>Paplo</b> <span class="font-italic">(Papaya y platano)</span> </li>
                        <li> <b>Choco-Banana</b> <span class="font-italic">(Chocolate y plátano)</span> </li>
                        <li> <b>Tuti-Fruti</b> <span class="font-italic">(Papaya, plátano, fresa y mango)</span> </li>
                        <li> <b>Hono-Lulu</b> <span class="font-italic">(Papaya, plátano, fresa y mango)</span> </li>
                        <li> <b>Supremo</b> <span class="font-italic">(Papaya, plátano, melón, amaranto, yoghurt y granola)</span> </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section id="sandwich">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 titulo">
                    <h4>Sandwich</h4>
                </div>
                <div class="col-sm-12">
                    <ul class="titulo">
                        <li> <b>Jamón c/ queso amarillo</b> <span class="font-italic">(Jamón, queso amarillo, mayonesa, lechuga, tomate y aguacate)</span> </li>
                        <li> <b>Jamón c/ queso panela</b> <span class="font-italic">(Jamón, queso panela, mayonesa, lechuga, tomate y aguacate)</span> </li>
                        <li> <b>Queso Panela</b> <span class="font-italic">(Queso panela, mayonesa, lechuga, tomate y aguacate)</span> </li>
                        <li> <b>Huevo c/ jamón</b> <span class="font-italic">(Huevo, jamón, mayonesa, tomate y aguacate)</span> </li>
                        <li> <b>Huevo c/ chorizo</b> <span class="font-italic">(Huevo, chorizo, mayonesa, tomate y aguacate)</span> </li>
                        <li> <b>Huevo c/ salchicha</b> <span class="font-italic">(Huevo, salchicha, mayonesa, tomate y aguacate)</span> </li>
                        <li> <b>Huevo c/ queso oaxaca</b> <span class="font-italic">(Huevo, queso oaxaca, mayonesa, tomate y aguacate)</span> </li>
                        <li> <b>Atún</b> <span class="font-italic">(Atún, mayonesa, lechuga, tomate y aguacate)</span> </li>
                        <li> <b>Hawaiano</b> <span class="font-italic">(Jamón, queso amarillo, piña asada, mayonesa, tomate y aguacate)</span> </li>
                        <li> <b>Pechuga de pavo</b> <span class="font-italic">(Pavo, aderezo, lechuga, tomate, pepino y manzana)</span> </li>
                        <li> <b>Pollo</b> <span class="font-italic">(Pollo asado, mayonesa, lechuga, tomate y aguacate)</span> </li>
                        <li> <b>Especial</b> <span class="font-italic">(Pollo asado, jamón, queso amarillo, mayonesa, lechuga, tomate y aguacate)</span> </li>
                        <li> <b>Vegetariano</b> <span class="font-italic">(Queso panela, pepino, alfalfa, tomate, aguacate, pan 12 granos)</span> </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section id="wraps">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 titulo">
                    <h4>Wraps</h4>
                </div>
                <div class="col-sm-12">
                    <ul class="titulo">
                        <li> <b>Espinaca</b> <span class="font-italic">(Lechuga romana, espinaca, nuez, arándanos, pollo y chile morrón)</span> </li>
                        <li> <b>César</b> <span class="font-italic">(Lechuga romana, tomate, crotones, pollo y queso parmesano)</span> </li>
                        <li> <b>Chipotle</b> <span class="font-italic">(Lechuga mixta, tomate, crotones, pollo, aderezo chipotle, pimiento y tortilla de chipotle)</span> </li>
                        <li> <b>Light</b> <span class="font-italic">(Lechuga romana, manzana verde, espinaca, queso cottage, nuez, arándanos y tortilla de espinaca)</span> </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section id="ensaladas">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 titulo">
                    <h4>Ensaladas</h4>
                </div>
                <div class="col-sm-12">
                    <ul class="titulo">
                        <li> <b>César</b> <span class="font-italic">(Pollo, lechuga romana, tomate, crotones y queso parmesano)</span> </li>
                        <li> <b>Campestre</b> <span class="font-italic">(Lechuga Italiana, queso panela en cubos, champiñones, alfalfa, fresas y naranja)</span> </li>
                        <li> <b>De la casa</b> <span class="font-italic">(Espinacas frescas, mango, manzana roja, manzana verde, nueces y jamón de pavo en cubos)</span> </li>
                        <li> <b>Chipotle</b> <span class="font-italic">(Lechuga mixta, tomate, crotones, pollo, aderezo chipotle, pimiento y tortilla de chipotle)</span> </li>
                        <li> <b>Primavera</b> <span class="font-italic">(Lechuga Italiana, fresas, naranja, uvas, almendras, arándanos y pollo)</span> </li>
                        <li> <b>Vegetariana</b> <span class="font-italic">(Lechuga romana, champiñones, aceitunas negras, pimiento morrón y arándanos)</span> </li>
                        <li> <b>Pollo</b> <span class="font-italic">(Lechuga, tomate, zanahoria, pepino y pollo)</span> </li>
                        <li> <b>Yaris</b> <span class="font-italic">(Lechuga romana, tomate, manzana verde, naranja, arroz blanco y pollo)</span> </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section id="baguette">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 titulo">
                    <h4>Baguette</h4>
                </div>
                <div class="col-sm-12">
                    <ul class="titulo">
                        <li> <b>A la española</b> <span class="font-italic">(Huevo bañado con salsa española y aguacate)</span> </li>
                        <li> <b>Atún</b> <span class="font-italic">(Atún con mayonesa, aguacate, tomate y lechuga)</span> </li>
                        <li> <b>Jamón</b> <span class="font-italic">(Jamón, queso manchego, tomate, lechuga y aguacate)</span> </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section id="croissant">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 titulo">
                    <h4>Croissant</h4>
                </div>
                <div class="col-sm-12">
                    <ul class="titulo">
                        <li> <b>Jamón</b> <span class="font-italic">(Jamón, queso manchego y aguacate)</span> </li>
                        <li> <b>Atún</b> <span class="font-italic">(Atún, mayonesa y aguacate)</span> </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section id="burritos">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 titulo">
                    <h4>Burritos</h4>
                </div>
                <div class="col-sm-12">
                    <ul class="titulo">
                        <li> <b>Frijol</b></li>
                        <li> <b>Cochinita</b></li>
                        <li> <b>Huevo c/ jamón</b></li>
                        <li> <b>Huevo c/ salchicha</b></li>
                        <li> <b>Huevo c/ chorizo</b></li>
                        <li> <b>Carne deshebrada</b></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section id="sopa">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 titulo">
                    <h4>Sopas</h4>
                </div>
                <div class="col-sm-12">
                    <ul class="titulo">
                        <li> <b>Sopa de tortilla</b></li>
                        <li> <b>Crema o sopa del día</b></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section id="comida-dia">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 titulo">
                    <h4>Comida del día</h4>
                </div>
                <div class="col-sm-12">
                    <ul class="titulo">
                        <li> <b>Bisteck asado</b></li>
                        <li> <b>Filete de pescado empanizado</b></li>
                        <li> <b>Filete de pescado a la plancha</b></li>
                        <li> <b>Pollo a la plancha</b></li>
                        <li> <b>Pechuga de pollo empanizado</b></li>
                        <li> <span class="font-italic">"Todas las comidas del día incluyen: sopa o crema, arroz, ensalada o verduras cocidas y un vaso de agua del día"</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</section>