#nosotros{
  background: #FFFAEA;
}

/* Contenedor de nosotros*/
.nosotros{
  padding-top: 75px;
  padding-bottom: 75px;
}

/* Contenedor del texto nosotros*/
.texto-nosotros{
  padding: 20px;
  text-align: center;
}

/* Parrafo del texto nosotros */
.texto-nosotros p{
  margin-top: 40px;
}

/* Contenedor de iconos nosotros */
.nosotros .figuras{
  padding-top: 60px;
  text-align: center;
}

/* Iconos de seccion nosotros */
.nosotros .figuras i{
  padding-bottom: 30px;
}
