<section id="inicio">
    <!-- Contenido Inicio -->
    <div class="contenido-inicio">
        <div class="cubridor-negro">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 texto-inicio">
                        <h1>Jugui-Toño</h1>
                        <div class="descripcion-inicio">
                            <p class="texto-inicio-secundario">
                                <span class="font-italic">"Cocinar con amor, te alimenta el alma"</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>