<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 titulo-sucursales">
                <h2>Nuestras sucursales</h2>
                <p class="lead"> ¡Ven y visitanos en cualquiera de nuestras sucursales! </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 seccion-sucursales">
                <img src="../../../../img/us-section.jpg" alt="Sucursal 1">
                <h4>Sucursal 1</h4>
                <p class="texto-sucursales">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est nesciunt tenetur quas, illo quis at reiciendis. Harum ad ab amet dolores, laboriosam quod. Impedit, et. Soluta officia, quae ducimus cupiditate.
                </p>
            </div>
            <div class="col-sm-4 seccion-sucursales">
                <img src="../../../../img/us-section.jpg"  alt="Sucursal 2">
                <h4>Sucursal 2</h4>
                <p class="texto-sucursales">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est nesciunt tenetur quas, illo quis at reiciendis. Harum ad ab amet dolores, laboriosam quod. Impedit, et. Soluta officia, quae ducimus cupiditate.
                </p>
            </div>
            <div class="col-sm-4 seccion-sucursales">
                <img src="../../../../img/us-section.jpg"  alt="Sucursal 3">
                <h4>Sucursal 3</h4>
                <p class="texto-sucursales">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est nesciunt tenetur quas, illo quis at reiciendis. Harum ad ab amet dolores, laboriosam quod. Impedit, et. Soluta officia, quae ducimus cupiditate.
                </p>
            </div>
        </div>
    </div>
</section>