<section id="contactanos">
    <div class="container">
        <div class="contactanos">
            <h2>Contáctanos</h2>
            <div class="row">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-12">
                            <h4>Dirección</h4>
                            <p>dajsdlijqdoliqjwoqiwej,<br>awrgawgwae<br>asdfasdf<br>646-000-00-00</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <h4>Horarios</h4>
                            <table>
                                <tr>
                                    <td>Lunes </td>
                                    <td> 06:45am - 1:30pm</td>
                                </tr>
                                <tr>
                                    <td>Martes </td>
                                    <td> 06:45am - 1:30pm</td>
                                </tr>
                                <tr>
                                    <td>Miércoles </td>
                                    <td> 06:45am - 1:30pm</td>
                                </tr>
                                <tr>
                                    <td>Jueves </td>
                                    <td> 06:45am - 1:30pm</td>
                                </tr>
                                <tr>
                                    <td>Viernes </td>
                                    <td> 06:45am - 1:30pm</td>
                                </tr>
                                <tr>
                                    <td>Sábado </td>
                                    <td> 06:45am - 1:30pm</td>
                                </tr>
                                <tr>
                                    <td>Domingo </td>
                                    <td> 06:45am - 1:30pm</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <h4>Mapa</h4>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m22!1m12!1m3!1d13553.937520860112!2d-116.61972863450019!3d31.866243444539112!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m7!3e6!4m0!4m4!1s0x80d8927a0cabb58d%3A0x6074bae7cfa72578!3m2!1d31.8630303!2d-116.6152654!5e0!3m2!1ses!2smx!4v1515191104313" width="550" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>
