<section id="contactanos">
        <div class="container">
            <div class="contactanos">
                <h2>Contáctanos</h2>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="row">
                            <div class="col-sm-12">
                                <h4>Dirección</h4>
                                <p>Avenida Floresta #415,<br>Entre cuarta y quinta,<br>Centro.<br>646-152-15-70.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <h4>Horarios</h4>
                                <table>
                                    <tr>
                                        <td>Lunes </td>
                                        <td> 06:45am - 1:30pm</td>
                                    </tr>
                                    <tr>
                                        <td>Martes </td>
                                        <td> 06:45am - 1:30pm</td>
                                    </tr>
                                    <tr>
                                        <td>Miércoles </td>
                                        <td> 06:45am - 1:30pm</td>
                                    </tr>
                                    <tr>
                                        <td>Jueves </td>
                                        <td> 06:45am - 1:30pm</td>
                                    </tr>
                                    <tr>
                                        <td>Viernes </td>
                                        <td> 06:45am - 1:30pm</td>
                                    </tr>
                                    <tr>
                                        <td>Sábado </td>
                                        <td> 06:45am - 1:30pm</td>
                                    </tr>
                                    <tr>
                                        <td>Domingo </td>
                                        <td> 06:45am - 1:30pm</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <h4>Mapa</h4>
                            <a href="https://www.google.com.mx/maps/place/Jugui+To%C3%B1o/@31.8630422,-116.6150239,18.25z/data=!4m5!3m4!1s0x80d8927a0cabb58d:0x6074bae7cfa72578!8m2!3d31.8630303!4d-116.6152654" target="_blank">
                                <img src="../../../../img/mapa.png" alt="Mapa dirección Jugui-Toño" class="mapa">
                            </a>
                    </div>
                </div>
            </div>
        </div>
    </section>