<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <p class="texto-footer">
                    <i class="fa fa-copyright"></i>Todos los derechos reservados | Desarrollado por TechnoMind
                </p>
            </div>
            <div class="col-sm-4 iconos">
                <ul>
                    <li>
                        <a href="#"><i class="fa fa-facebook-square fa-2x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-instagram fa-2x"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-4">
                <a href="#"><i class="fa fa-arrow-circle-o-up fa-3x"></i></a>
            </div>
        </div>
    </div>
</footer>
