<section id="nosotros">
    <div class="container">
        <div class="nosotros">
            <div class="row">
                <div class="col-sm-12 texto-nosotros">
                    <h2>¿Quiénes somos?</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique voluptatem porro, mollitia dolor temporibus dolorem, dolores eligendi aut beatae, quaerat sint ex assumenda in! Minus laborum incidunt quia officiis provident.</p>
                </div>
            </div>
            <div class="row renglon-nosotros">
                <div class="col-sm-4 figuras">
                    <i class="fa fa-coffee fa-5x iconos fondo-iconos"></i>
                    <h4>Bebidas</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil officiis atque, odio eaque provident </p>
                </div>
                <div class="col-sm-4 figuras">
                    <i class="fa fa-cutlery fa-5x iconos fondo-iconos"></i>
                    <h4>Restaurante</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil officiis atque, odio eaque provident </p>
                </div>
                <div class="col-sm-4 figuras">
                    <i class="fa fa-star fa-5x iconos fondo-iconos"></i>
                    <h4>Calidad</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil officiis atque, odio eaque provident </p>
                </div>
            </div>
        </div>
    </div>
</section>
